.wallet__page {
  background: #dfe0e2;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 25% 75%;
  grid-template-rows: 12% 88%;
  grid-auto-flow: row;
  grid-template-areas:
    'header header'
    'aside__menu expenditure__list';
  height: 100vh;
  width: 100vw;
}

.wallet__page--header {
  align-items: center;
  background: white;
  border-bottom: solid black 1px;
  display: flex;
  grid-area: header;
  justify-content: space-between;
}

.__header--section {
  display: flex;
}

.__header--div {
  align-items: center;
  background: #ced4da;
  border-radius: 10px;
  display: flex;
  margin: 10px;
}

.__header--title {
  color: #23b5d3;
  font-size: 40px;
  margin-left: 5%;
}

.__header--div p {
  padding-left: 15px;
}

.--div-span-email {
  border-radius: 10px;
  padding: 15px;
}

.--div-span-total {
  color: red;
  margin: 0 10px;
}

.--div-span-currency {
  align-self: center;
  margin-right: 10px;
}

.wallet__page--menu-aside {
  background: #071013;
  color: white;
  grid-area: aside__menu;
  padding-top: 20px;
}

.--menu-aside-form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.button {
  margin: 50px auto;
}

.wallet__page--table {
  border-collapse: collapse;
  height: fit-content;
}

.table--header th {
  background: #75abbc;
  padding: 10px;
}

.table--body td {
  border-bottom: 1px solid #b9b5b5;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px;
  text-align: center;
}

.table--body tr:nth-child( even ) {
  background-color: #f2f2f2;
}

.table--body tr:hover {
  background: #23b5d3;
  color: #071013;
}
