.default--title {
  color: #23b5d3;
  font-size: 40px;
}

.default--input {
  background: white;
  border: #23B5D3 solid 2px;
  border-radius: 7px;
  height: 30px;
  margin-top: 5px;
  padding: 7px;
}

.default--select {
  background: white;
  border: #23B5D3 solid 2px;
  border-radius: 7px;
  height: 45px;
  margin-top: 5px;
  padding: 7px;
}

.default--button {
  background: #23b5d3;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  height: 35px;
  width: 170px;
}

.button {
  height: 50px;
}

.default--button:hover {
  background: #3cd0ee;
}

.default--button:active {
  border: white solid 1px;
  padding: 8px;
}

.default--input-label {
  display: flex;
  flex-direction: column;
  font-family: Georgia , "Times New Roman" , Times , serif;
  font-size: 18px;
  margin: 8px 5%;
  width: 40%;
}

.description {
  width: 100%;
}
