body {
  align-items: center;
  background: #dfe0e2;
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
  height: 100vh;
  margin: 0;
  width: 100vw;
}
